* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

:root {
  --background-color: #101010;
  --accent-gradient: linear-gradient(180deg, #FF8128 0%, #FF8128 0.01%, #9D4100 100%);
  --accent-bg: rgba(235, 102, 8, 0.5);
  --accent-color: #EB6608;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--background-color);

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--accent-gradient);
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #000;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}
.custom-scrollbar {
  scrollbar-width: 12px;
  scrollbar-color: var(--accent-color);
}
.custom-mini-scrollbar::-webkit-scrollbar-thumb {
  background: var(--accent-gradient);
  border-radius: 10px;
}
.custom-mini-scrollbar::-webkit-scrollbar-track {
  background: #000;
}
.custom-mini-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-mini-scrollbar {
  scrollbar-width: 5px;
  scrollbar-color: var(--accent-color);
}
.wrapper {
}

.container {
  position: relative;
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.cta-color {
  background: linear-gradient(180deg, #FF8128 0%, #9D4100 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* === MAIN-PAGE === */


/* === HEADER === */

.main {
}
.header {
  padding-top: 25px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100%;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-row-column {
  align-items: center;
  display: flex;
}
.header-logo {
  position: relative;

  z-index: 100;
}
.header-phrase {
  padding: 15px 18px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;

  font-size: 12px;
  margin-left: 25px;
  width: 350px;
}
.header-contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.header-contacts-tel {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 5px;

  transition: 0.5s ease;
}
.header-contacts-tel:hover {
  filter: brightness(130%);
}
.header-contacts-email {
  transition: 0.5s ease;
}
.header-contacts-email:hover {
  color: var(--accent-color);
}
.header-manager {
  margin-left: 25px;
}
.manager {
  padding: 19px 15px;
  background: var(--accent-gradient);
  border-radius: 10px;
  text-align: center;

  transition: filter 0.5s ease;
}
.manager:hover {
  filter: brightness(110%);
}
.manager:active {
  transform: scale(0.98);
}
.header-cart-wrapper {
  position: relative;
  cursor: pointer;

  margin-left: 25px;
}
.header-cart-wrapper path {
  transition: 0.5s ease;
}
.header-cart-wrapper:hover path {
  fill: var(--accent-color);
}
.header-cart-wrapper:hover span {
  transform: translateY(-5px);
}

.header-cart-wrapper span {
  padding: 0 3px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;

  min-width: 20px;
  font-size: 10px;
  border-radius: 5px;
  background: var(--accent-gradient);

  transition: 0.5s ease;
}
.header-lang-select {
  position: relative;
}
.lang-select-body {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  position: relative;
  padding-right: 18px;

  margin-left: 25px;

  transition: 0.5s ease;
}
.lang-select-body:hover {
  transform: scale(1.05);
}
.lang-select-body::after {
  content: url('../img/main/start-page/bottom-arrow.svg');
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.lang-select-body:active {
  transform: scale(0.98);
}
.lang-select-body:focus {
  outline: none;
}
.lang-select-options {
  display: none;

  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 25px;
  z-index: 10;
}
.lang-select-options.active {
  display: flex;
}
.lang-select-option {
  cursor: pointer;
  transition: transform 0.5s ease;
}
.lang-select-option:hover {
  transform: scale(1.05);
}
.header-burger {
  display: none;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 40px;

  position: relative;
  margin-left: 25px;
  cursor: pointer;

  z-index: 100;
}
.header-burger.active span {
  transform: scale(0);
}
.header-burger:hover span {
  background: var(--accent-color);
}
.header-burger:hover:before {
  background: var(--accent-color);
}
.header-burger:hover::after {
  background: var(--accent-color);
}
.header-burger span {
  width: 100%;
  height: 5px;
  background: #fff;
  transition: 0.5s ease;
  border-radius: 4px;
}
.header-burger::before,
.header-burger::after {
  content: '';
  position: absolute;
  background: #fff;
  height: 5px;
  transition: 0.5s ease;
  border-radius: 4px;
}
.header-burger::before {
  width: 100%;
  top: 5px;
  right: 0;
}
.header-burger::after {
  width: 100%;
  bottom: 5px;
  right: 0;
}
.header-burger.active::before  {
  top: 50%;
  transform: rotate(45deg);
}
.header-burger.active::after  {
  top: 50%;
  transform: rotate(-45deg);
}
.second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
}
.second-row-nav li {
  transition: 0.5s ease;
}
.second-row-nav {
  display: flex;
  align-items: center;
}
.second-row-nav li:not(:first-child) {
  margin-left: 40px;
}
.second-row-nav li.active {
  color: var(--accent-color);
  font-size: 20px;
}
.second-row-nav li.active path {
  stroke: var(--accent-color);
}
.second-row-nav li:hover {
  color: var(--accent-color);
}
.second-row-nav li path {
  transition: 0.5s ease;
}
.second-row-nav li:hover path {
  stroke: var(--accent-color);
}
.active {
}
.second-row-search {
  position: relative;
}
.search {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px 35px 10px 10px;
  background: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
}
.search:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.second-row-search::after {
  position: absolute;
  content: url('../img/main/start-page/search-icon.svg');
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.mobile-menu-footer {
  display: none;
}

/* === START - SCREEN === */

.start-page {
  position: relative;
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.start-page-bg {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.start-page-bg-cover {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.start-page-bg-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.start-page-body .container {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;

  align-items: center;

  padding-top: 200px;
  padding-bottom: 60px;
}
.start-page-text {
  flex: 0 0 50%;
}
.start-page-title {
  font-size: 60px;
  line-height: 105%;
  text-transform: uppercase;
}
.start-page-title span {
  font-weight: 900;
  font-size: 80px;
}
.start-page-subtitle {
  margin-top: 30px;
}
.btn {
  display: inline-flex;

  padding: 16px 40px 16px 40px;
  border-radius: 10px;
  background: var(--accent-gradient);


  transition: filter 0.5s ease;
}
.btn::after {
  content: url('../img/main/start-page/submenu-arrow.svg');
  margin-left: 15px;
}
.btn:hover {
  filter: brightness(110%);
}
.btn:active {
  transform: scale(0.98);
}
.main-page-btn {
  margin-top: 30px;
}
.start-page-img {
  position: relative;

  flex: 0 0 50%;
  width: 100%;
  height: 100%;
}
.start-page-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  z-index: 4;
}
.start-page-img::after {
  position: absolute;
  content: '';
  bottom: -10%;
  left: 0;
  width: 120%;
  height: 150px;
  filter: blur(35px);
  background: rgba(0,0,0,0.8);
  z-index: 3;
}

.start-page-footer {
}

.mouse-scroll-elem {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;

  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.mouse-scroll-elem img {
  margin: 20px 0;
}
.mouse-scroll-line {
  width: 1px;
  height: 30px;
  background: var(--accent-color);
}
.start-page-pagination {
  position: absolute;
  bottom: 100px;
  left: 0;
  z-index: 3;
}
.start-page-pagination {
  display: flex;
  margin-left: 15px;
}
.pagination-arrow {
  cursor: pointer;
}
.slider-counter {
  margin: 0 35px;
}
.swiper-pagination-total {
  font-size: 20px;
}
.swiper-pagination-current {
  font-size: 50px;
}
.all-slides {

}
.swiper-button-disabled {
  opacity: 0.5;
}

.logos-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 70px;
}
.auto-logo {
  width: 150px;
  height: 150px;

  padding: 0 10px;
}
.auto-logo:nth-child(1) img {
  transform: scale(2.3);
}
.auto-logo:nth-child(5) img {
  transform: scale(1.8);
}
.auto-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: grayscale(1);
  transition: 0.5s ease;
}
.auto-logo:hover img {
  filter: grayscale(0);
}
.inner-section {
  padding: 130px 0;
}
.about-section-body {
  display: flex;
  justify-content: space-between;
}
.about-section-column {
  flex: 0 0 50%;
}
.section-title h2 {
  font-size: 50px;
  line-height: 125%;
  text-transform: uppercase;
}
.about-title {
}
.title {
}
.about-text {
  margin-top: 80px;
  width: 80%;
}
.section-paragraph {
}
.about-img {
  border-radius: 15px;
  overflow: hidden;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.main-catalogue {
  position: relative;
}
.main-catalogue-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-catalogue-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}
.main-catalogue-bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.072) 21.35%, rgba(0, 0, 0, 0) 48.01%, rgba(0, 0, 0, 0.072) 77.6%, rgba(0, 0, 0, 0.4) 100%);
}
.main-catalogue-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-title {
}
.title {
}
.main-catalogue-subtitle {
  width: 400px;
}
.main-catalogue-body {
  display: flex;
  margin-top: 90px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  overflow: hidden;
}
.main-catalogue-column {
  position: relative;

  flex: 0 0 33.3%;
  overflow: hidden;
  height: 700px;

  transition: 0.5s ease;
}
.main-catalogue-column:nth-child(1) img {
}
.main-catalogue-column:nth-child(2) img {
  transform: scale(0.9);
}
.main-catalogue-column:nth-child(3) img {
}
.main-catalogue-column:hover .main-catalogue-link {
  display: block;
}
.main-catalogue-column:hover .main-catalogue-link path {
  stroke: var(--accent-color);
}
.main-catalogue-column:hover .main-catalogue-label {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}
.main-catalogue-column:hover {
  background: var(--accent-gradient);
}
.main-catalogue-column:hover img {
  filter: grayscale(0);
  transform: scale(1.05);
}
.main-catalogue-column img {
  filter: grayscale(1);
  transition: 2s ease;
}
.main-catalogue-label {
  position: absolute;

  width: 80%;

  bottom: 50px;
  left: 0;

  padding: 25px 40px;

  border-radius: 0px 15px 15px 0px;
  background: linear-gradient(180deg, rgba(255, 129, 40, 0.8) 0%, rgba(157, 65, 0, 0.8) 100%);
}
.main-catalogue-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;
}
.main-catalogue-link {
  font-weight: 600;
  font-size: 22px;
  line-height: 125%;

  margin-top: 20px;
  display: none;

  transition: 0.5s ease;
}
.main-catalogue-link:hover {
  filter: brightness(130%);
}

/* === OIL SELECTION === */

.oil-selection {
  position: relative;
  margin: 130px 0;
}
.oil-selection-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.oil-selection-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.container {
}
.oil-selection-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  background: rgba(16, 16, 16, 0.5);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);
  border-radius: 30px;

  padding: 50px 62px;
}
.section-title {
}
.title {
}
.oil-selection-text {
  width: 60%;
  margin: 30px auto;
}
.section-paragraph {
}
.oil-selection-selects {
  display: flex;
  justify-content: space-between;
}
.oil-selection-select {
  position: relative;
}
.oil-kind {
}
.oil-select-body {
  padding: 20px 15px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #FFFFFF;

  cursor: pointer;
}
.oil-select-body::after {
  content: url('../img/main/start-page/submenu-arrow.svg');
  margin-left: 10px;
}
.oil-select-options {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);

  background: rgba(16, 16, 16, 0.8);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);

  overflow: hidden;

  display: none;

  max-height: 122px;
  overflow-y: auto;
}
.oil-select-options.active {
  display: block;
}
.oil-select-option {
  padding: 10px 5px;
  cursor: pointer;

  transition: 0.5s ease;
}
.oil-select-option:hover {
  background: rgba(255, 255, 255, 0.7);
}
.select-hidden {
  display: none;
}
.car-brand {
}
.car-model {
}
.oil-type {
}
.btn {
}
.oil-selection-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;

  border: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 125%;
  color: #FFFFFF;
}

/* === NEWS === */

.news {
}
.container {
}
.section-title {
}
.title {
}
.news-body {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}
.news-column {
  display: flex;
  align-items: flex-end;
  flex: 0 0 30%;

  position: relative;
  min-height: 467px;

  border-radius: 20px;
  overflow: hidden;
}
.news-column img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.news-label {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  border-radius: 0px 0px 20px 20px;
  height: 40%;
  padding: 15px 10px;
  justify-content: space-between;
}
.news-title {
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
}
.news-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  line-clamp: 3;
  box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.news-link {
  font-weight: 600;
  font-size: 22px;

  transition: 0.5s ease;
}
.news-link:hover {
  filter: brightness(130%);
}
.news-link path {
  stroke: var(--accent-color);
}

/* === FOOTER === */

.footer {
  padding: 30px 0 60px 0;
}
.container {
}
.footer-body {
  display: flex;
  justify-content: space-between;
}
.footer-column {
}
.footer-logos-column {
  display: flex;
  align-items: center;
}
.footer-links-column {
  display: flex;
}
.footer-contacts-column {
  display: flex;
}
.footer-logos {
}
.APC-logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 250;
  font-size: 54px;
  line-height: 66px;
  letter-spacing: 0.05em;
  background: linear-gradient(180deg, #F3F3F3 0%, #0D0D0D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  margin-left: 20px;
}
.footer-links:not(:first-child) {
  margin-left: 50px;
}
.footer-links li {
  font-size: 14px;
  transition: 0.5s ease;
  margin-top: 10px;
}
.footer-links li:hover {
  color: var(--accent-color);
}
.scroll-link {
  cursor: pointer;
}
.scroll-link path  {
  transition: 0.5s ease;
}
.scroll-link:hover path {
  stroke: var(--accent-color);

}
.footer-contacts {
  display: flex;
  flex-direction: column;
}
.cta-color {
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: 50px;
}
.footer-contacts-tel {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 5px;

  transition: 0.5s ease;
}
.footer-contacts-tel:hover {
  filter: brightness(130%);
}
.footer-contacts-email {
  transition: 0.5s ease;
}
.footer-contacts-email:hover {
  color: var(--accent-color);
}
.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;

  margin-top: 58px;
}
.footer-rights {
}
.footer-a {
  display: flex;
}
.footer-a-text {
  display: flex;
  align-items: center;
}
.footer-a-logo {
  padding: 6px 30px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  margin-left: 10px;
}


/* === === CATALOGUE === === */

.catalogue {
  padding-top: 200px;
}
.cata-section-body {
}
.submenu-row {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.submenu-item {
  font-size: 12px;
  margin-left: 5px;

  transition: 0.5s ease;
}
.submenu-item:hover {
  color: var(--accent-color);
}
.submenu-item::before{
  content: '/';
}
.submenu-main-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
}
.submenu-main-item::before {
  content: url('../img/main/start-page/house-icon.svg');
  margin-right: 5px;
}


@media(min-width: 1400px) {
  .start-page-img {
    overflow: visible;
  }
  .start-page-img img {
    object-fit: contain;
    width: 120%;
    height: 120%;
    transform: translateX(10%);
  }
  .start-page-img::after {
    transform: translateX(5%);
  }
  .oil-selection {
    position: relative;
    margin: 130px 0;
    padding: 230px 0;
  }
  .oil-selection-bg img {
    object-fit: cover;
  }
}
@media(max-width: 1200px) {
  .header-phrase {
    display: none;
  }
  .second-row-nav li:not(:first-child) {
    margin-left: 20px;
  }
  .search {
    width: 200px;
  }
  .start-page-title {
    font-size: 50px;
    line-height: 105%;
  }
  .start-page-title span {
    font-size: 70px;
  }
  .main-catalogue-title {
    font-size: 36px;
    line-height: 125%;
  }
  .main-catalogue-link {
    font-size: 22px;
    margin-top: 20px;
  }
  .oil-selection-selects {
    flex-direction: column;
  }
  .oil-selection-select:not(:first-child) {
    margin-top: 25px;
  }
  .oil-select-body {
    min-width: 290px;
  }
  .oil-select-options {
    width: 290px;
    z-index: 10;
  }
  .oil-selection-btn {
    width: 290px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .oil-selection-body {
    width: 800px;
    margin: 0 auto;
  }
  .footer-logos-column {
    flex-direction: column;
  }
  .APC-logo {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media(max-width: 992px) {
  .header-burger {
    display: flex;
  }
  .second-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;

    position: fixed;
    top: 0;
    right: 0;

    width: 100vw;
    min-height: 100vh;

    background: var(--background-color);

    padding-top: 100px;
    transform: translateX(100vw);

    transition: 0.5s ease;
  }
  .second-row.active {
    transform: translateX(0);
  }
  .second-row-nav {
    display: flex;
    flex-direction: column;
  }
  .second-row-nav li:not(:first-child) {
    margin-left: 0;
    margin-top: 20px;
  }
  .second-row-search {
    margin-top: 25px;
  }
  .mobile-menu-footer {
    display: block;
    margin-top: auto;
    margin-bottom: 50px;
  }
  .mobile-manager {
    display: flex;
    margin-top: 40px;
  }
  .mobile-contacts {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .mobile-contacts-tel {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 5px;
  
    transition: 0.5s ease;
  }
  .mobile-contacts-tel:hover {
    filter: brightness(130%);
  }
  .mobile-contacts-email {
    transition: 0.5s ease;
  }
  .mobile-contacts-email:hover {
    color: var(--accent-color);
  }
  .mouse-scroll-elem {
    display: none;
  }
  .start-page-body .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 150px;
  }
  .start-page-img {
    flex: 1 0 100%;
    transform: translateX(0);
    margin-top: 50px;
  }
  .start-page-img img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
  .start-page-subtitle {
    width: 80%;
    margin: 30px auto;
  }
  .main-page-btn {
    margin-top: 10px;
  }
  .start-page-pagination {
    display: none;
  }
  .about-section-body {
    flex-direction: column;
  }
  .about-section-column {
    flex: 1 0;
  }
  .section-title h2 {
    font-size: 36px;
  }
  .about-text {
    margin-top: 60px;
    width: 100%;
  }
  .about-section-column:nth-child(2) {
    margin-top: 30px;
  }
  .inner-section {
    padding: 60px 0;
  }
  .catalogue {
    padding-top: 120px;
  }
  .oil-selection {
    position: relative;
    margin: 60px 0;
  }
  .main-catalogue-title {
    font-size: 32px;
    line-height: 125%;
  }
  .main-catalogue-link {
    font-size: 20px;
    margin-top: 20px;
  }
  .main-catalogue-label {
    width: 90%;
  }
  .main-catalogue-column {
    height: 500px;
  }
  .main-catalogue-column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
  .oil-selection-text {
    width: 85%;
    margin: 30px auto;
  }
  .footer-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-links-column {
    margin-left: 0;
    order: 1;
    justify-content: center;
  }
  .footer-logos-column {
    order: 3;
    margin-top: 30px;
    flex-direction: row;
  }
  .APC-logo {
    margin-left: 20px;
    margin-top: 0;
  }
  .footer-contacts-column {
    order: 2;
    margin-top: 30px;
  }
  .footer-contacts {
    text-align: center;
    margin-left: 50px;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 0 0 30%;
  }
}
@media(max-width: 768px) {
  .header-manager {
    display: none;
  }
  .start-page-title {
    font-size: 40px;
    line-height: 105%;
  }
  .start-page-title span {
    font-size: 60px;
  }
  .logos-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 0px;
  }
  .section-title h2 {
    font-size: 28px;
  }
  .main-catalogue-label {
    padding: 15px 20px;
  }
  .main-catalogue-title {
    font-size: 26px;
    line-height: 125%;
  }
  .main-catalogue-link {
    font-size: 18px;
    margin-top: 20px;
  }
  .oil-selection-body {
    width: 70%;
    margin: 0 auto;
  }
  .news-body {
    flex-direction: column;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  .news-column {
    margin-top: 20px;
  }
  .news-text {
    margin: 20px 0;
  }
}
@media(max-width: 576px) {
  .main-catalogue-body {
    flex-direction: column;
  }
  .header-contacts {
    display: none;
  }
  .main-catalogue-title {
    font-size: 20px;
    line-height: 125%;
  }
  .main-catalogue-link {
    font-size: 16px;
    margin-top: 20px;
  }
  .main-catalogue-label {
    padding: 25px 40px;
    width: 60%;
  }
  .main-catalogue-column {
    max-height: 350px;
  }
  .main-catalogue-column img {
    object-fit: contain;
  }
  .main-catalogue-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-catalogue-subtitle {
    margin-top: 20px;
  }
  .main-catalogue-subtitle {
    width: 100%;
  }
  .main-catalogue-label {
    padding: 15px 20px;
    width: 70%;
  }
  .oil-selection-body {
    width: 100%;
    padding: 30px 20px;
  }
  .news-title {
    font-size: 22px;
  }
  .news-link {
    font-size: 18px;
  }
  .news-body {
    margin-top: 50px;
  }
  .footer-links:not(:first-child) {
    margin-left: 20px;
  }
}
@media(max-width: 425px) {
  .header-burger {
    margin-left: 15px;
  }
  .lang-select-body {
    margin-left: 15px;
  }
.header-cart-wrapper {
  margin-left: 15px;
  }
  .header-logo a img {
    width: 80px;
  }
  .start-page-title {
    font-size: 30px;
    line-height: 105%;
  }
  .start-page-title span {
    font-size: 40px;
  }
  .section-title h2 {
    font-size: 22px;
  }
  .oil-select-body {
    min-width: 260px;
  }
  .oil-selection-btn {
    width: 260px;
  }
  .oil-select-options {
    width: 260px;
  }
  .footer-links-column {
    flex-direction: column;
  }
  .footer-links:not(:first-child) {
    margin-left: 0px;
    margin-top: 20px;
  }
  .footer-a {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-a-logo {
    margin-left: 0px;
  }
  .footer-text {
    flex-direction: column;
  }
  .footer-rights {
    order: 2;
    margin-top: 20px;
  }
}
@media(max-width: 320px) {

}